.venv/
cvat/
ffmpeg/
model/
runs/
video_frames/
videos/
yolov8n-seg.pt
yolov8n.pt
yolov8s-seg.pt
yolov8x.pt
github.ipynb
error_screenshot.png
webapp/.tmp.driveupload/
webapp/assets/
webapp/ffmpeg
webapp/ffmpeg-7.0.1
best.pt